@import "tailwindcss";

@theme inline{
    --font-Sovranix: 'Sovranix', sans-serif;
    --font-Warband: 'Warband', sans-serif;
}
@font-face {
    font-family:Sovranix;
    src: url(/fonts/Sovranix-Medium.ttf) format('truetype');
}

@font-face {
    font-family:Warband; ;
    src: url(/fonts/Warband.otf) format('opentype');
}

@layer utilities {
   .flex-center {
    @apply flex justify-center items-center;
  }

  .bg-color{ 
    @apply bg-[#28272b];
  }
  .text-heading{
    @apply text-yellow-400;
  }
}